<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form name="form" method="post" action="https://nice.checkplus.co.kr/CheckPlusSafeModel/service.cb">
    <input type="hidden" id="m" name="m" value="service" />
    <input type="hidden" id="token_version_id" name="token_version_id" value="2022121216304923-NCBGG5347-2GF57-GF592D30D4" />
    <input type="hidden" id="enc_data" name="enc_data" value="3zjRPHhT33ZWlvCkbzfqphjTkqAIArjoIbviF7EAo/P6SaBZLOzRuqQK/DUR1lEQqYKoNo8yi480Krpw5jLroDaozqNRHb5kbnF62+xGNcsWZ2pjTPEavDvwWSz2u7SLnSLMqTlZTVtRf6jA2rpWESviJ36TZxeCSWmdokyUiaG5o81vQp8lwlPZYeaW9bClJ8kaA6Kr4pWzWvt6smr9Jnj2JqoUpHBrHA5AexWGttsT5jDybRnWELrRL0q1LzB+cjrYFoSfr8Abp3N79mqSbXng7MT7/ewhJp8NQFTOfbc=" />
    <input type="hidden" id="integrity_value" name="integrity_value" value="aKZxrhDe7Sbl5F7FcxaEKkK/c5a0H4u/vKes1sgsEWk=" />
    <input type="submit" value="전송"/>
  </form>
</body>
</html>